In [1]:
sc

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=(SparkSession.builder.appName('SparkSQL').getOrCreate())

In [4]:
tweet = (spark.read.format('csv')
         .option('inferSchema', 'true')
         .option('header', 'false')
         .load('file:///home/hduser/Downloads/ProjectTweets.csv')
         .toDF('ID', 'ID1', 'Date', 'Flag', 'User', 'Text'))

In [5]:
tweet.show()

+---+----------+--------------------+--------+---------------+--------------------+
| ID|       ID1|                Date|    Flag|           User|                Text|
+---+----------+--------------------+--------+---------------+--------------------+
|  0|1467810369|Mon Apr 06 22:19:...|NO_QUERY|_TheSpecialOne_|@switchfoot http:...|
|  1|1467810672|Mon Apr 06 22:19:...|NO_QUERY|  scotthamilton|is upset that he ...|
|  2|1467810917|Mon Apr 06 22:19:...|NO_QUERY|       mattycus|@Kenichan I dived...|
|  3|1467811184|Mon Apr 06 22:19:...|NO_QUERY|        ElleCTF|my whole body fee...|
|  4|1467811193|Mon Apr 06 22:19:...|NO_QUERY|         Karoli|@nationwideclass ...|
|  5|1467811372|Mon Apr 06 22:20:...|NO_QUERY|       joy_wolf|@Kwesidei not the...|
|  6|1467811592|Mon Apr 06 22:20:...|NO_QUERY|        mybirch|         Need a hug |
|  7|1467811594|Mon Apr 06 22:20:...|NO_QUERY|           coZZ|@LOLTrish hey  lo...|
|  8|1467811795|Mon Apr 06 22:20:...|NO_QUERY|2Hood4Hollywood|@Tatiana_K nope t...|
|  9|1467812025|Mon Apr 06 22:20:...|NO_QUERY|        mimismo|@twittera que me ...|
| 10|1467812416|Mon Apr 06 22:20:...|NO_QUERY| erinx3leannexo|spring break in p...|
| 11|1467812579|Mon Apr 06 22:20:...|NO_QUERY|   pardonlauren|I just re-pierced...|
| 12|1467812723|Mon Apr 06 22:20:...|NO_QUERY|           TLeC|@caregiving I cou...|
| 13|1467812771|Mon Apr 06 22:20:...|NO_QUERY|robrobbierobert|@octolinz16 It it...|
| 14|1467812784|Mon Apr 06 22:20:...|NO_QUERY|    bayofwolves|@smarrison i woul...|
| 15|1467812799|Mon Apr 06 22:20:...|NO_QUERY|     HairByJess|@iamjazzyfizzle I...|
| 16|1467812964|Mon Apr 06 22:20:...|NO_QUERY| lovesongwriter|Hollis' death sce...|
| 17|1467813137|Mon Apr 06 22:20:...|NO_QUERY|       armotley|about to file taxes |
| 18|1467813579|Mon Apr 06 22:20:...|NO_QUERY|     starkissed|@LettyA ahh ive a...|
| 19|1467813782|Mon Apr 06 22:20:...|NO_QUERY|      gi_gi_bee|@FakerPattyPattz ...|
+---+----------+--------------------+--------+---------------+--------------------+
only showing top 20 rows

In [6]:
tweet = (spark.read.format('csv')
         .option('inferSchema', 'true')
         .option('header', 'false')
         .load('file:///home/hduser/Downloads/ProjectTweets.csv')
         .toDF('ID', 'ID1', 'Date', 'Flag', 'User', 'Text')
         .createOrReplaceTempView('Tweets'))

In [7]:
spark.sql('SELECT Date, Text FROM Tweets').show(5)

+--------------------+--------------------+
|                Date|                Text|
+--------------------+--------------------+
|Mon Apr 06 22:19:...|@switchfoot http:...|
|Mon Apr 06 22:19:...|is upset that he ...|
|Mon Apr 06 22:19:...|@Kenichan I dived...|
|Mon Apr 06 22:19:...|my whole body fee...|
|Mon Apr 06 22:19:...|@nationwideclass ...|
+--------------------+--------------------+
only showing top 5 rows

In [9]:
import pandas as pd

In [10]:
tweet = pd.read_csv('ProjectTweets.csv')

In [11]:
tweet.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,1,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,2,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,3,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,4,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,5,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [12]:
tweet.tail()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
1599994,1599995,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599995,1599996,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599996,1599997,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599997,1599998,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599998,1599999,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [13]:
tweet.columns = ['ID', 'ID1', 'Date', 'Flag', 'User', 'Text']

In [14]:
tweet.head()

,ID,ID1,Date,Flag,User,Text
0,1,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,2,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,3,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,4,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,5,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [19]:
import matplotlib.pyplot as plt

In [20]:
#plt.figure(figsize=(10,5))
#c=tweet.corr()
#sns.heatmap(c, cmap ='BrBG', annot= True)
#c

In [15]:
tweet.dtypes

ID       int64
ID1      int64
Date    object
Flag    object
User    object
Text    object
dtype: object

In [16]:
print(tweet.isnull().sum())

ID      0
ID1     0
Date    0
Flag    0
User    0
Text    0
dtype: int64

In [17]:
#pip install skforecast

In [18]:
# Data manipulation
# ==============================================================================
import numpy as np
import pandas as pd

# Plots
# ==============================================================================
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
plt.rcParams['lines.linewidth'] = 1.5
%matplotlib inline

# Modeling and Forecasting
# ==============================================================================
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

from skforecast.ForecasterAutoreg import ForecasterAutoreg
from skforecast.ForecasterAutoregCustom import ForecasterAutoregCustom
#from skforecast.ForecasterAutoregMultiOutput import ForecasterAutoregMultiOutput
from skforecast.model_selection import grid_search_forecaster
from skforecast.model_selection import backtesting_forecaster

from joblib import dump, load

# Warnings configuration
# ==============================================================================
import warnings
# warnings.filterwarnings('ignore')

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.25.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [21]:
#tweet['Date'] = pd.to_datetime(tweet['Date'], format='%Y/%m/%d')
#tweet = tweet.set_index('Date')
#tweet = tweet.asfreq('MS')
#tweet = tweet.sort_index()
#tweet.head()

In [22]:
(#tweet.index == pd.date_range(start=tweet.index.min(),
                             end=tweet.index.max(),
                             freq=tweet.index.freq)).all()

SyntaxError: unmatched ')' (4007630950.py, line 3)

In [23]:
tweet['Flag'].unique()

array(['NO_QUERY'], dtype=object)

In [24]:
tweet.drop(['ID', 'Flag'], axis=1, inplace=True)

In [25]:
tweet['Date']=tweet['Date'].str.replace('PDT', '', regex=False)

In [26]:
tweet.head()

,ID1,Date,User,Text
0,1467810672,Mon Apr 06 22:19:49 2009,scotthamilton,is upset that he can't update his Facebook by ...
1,1467810917,Mon Apr 06 22:19:53 2009,mattycus,@Kenichan I dived many times for the ball. Man...
2,1467811184,Mon Apr 06 22:19:57 2009,ElleCTF,my whole body feels itchy and like its on fire
3,1467811193,Mon Apr 06 22:19:57 2009,Karoli,"@nationwideclass no, it's not behaving at all...."
4,1467811372,Mon Apr 06 22:20:00 2009,joy_wolf,@Kwesidei not the whole crew

In [27]:
tweet['Date']=pd.to_datetime(pd.Series(tweet['Date']))
tweet['Date'].dt.strftime('%Y-%m-%d %H:%M:%S')

0          2009-04-06 22:19:49
1          2009-04-06 22:19:53
2          2009-04-06 22:19:57
3          2009-04-06 22:19:57
4          2009-04-06 22:20:00
                  ...
1599994    2009-06-16 08:40:49
1599995    2009-06-16 08:40:49
1599996    2009-06-16 08:40:49
1599997    2009-06-16 08:40:49
1599998    2009-06-16 08:40:50
Name: Date, Length: 1599999, dtype: object

In [28]:
tweet.head()

,ID1,Date,User,Text
0,1467810672,2009-04-06 22:19:49,scotthamilton,is upset that he can't update his Facebook by ...
1,1467810917,2009-04-06 22:19:53,mattycus,@Kenichan I dived many times for the ball. Man...
2,1467811184,2009-04-06 22:19:57,ElleCTF,my whole body feels itchy and like its on fire
3,1467811193,2009-04-06 22:19:57,Karoli,"@nationwideclass no, it's not behaving at all...."
4,1467811372,2009-04-06 22:20:00,joy_wolf,@Kwesidei not the whole crew

In [32]:
#pip install nltk

In [31]:
import re
import string
from string import punctuation
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/hduser/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [48]:
def get_text_processing(Text):
    stpword=stopwords.words('english')
    no_punctuation=[char for char in Text if char not in string.punctuation]
    no_punctuation=''.join(no_punctuation)
    return ' '.join([word for word in no_punctuation.split() if word.lower() not in stpword])

In [49]:
tweet['Review']=tweet['Text'].apply(get_text_processing)

In [42]:
#pip install textblob

In [43]:
from textblob import TextBlob

py4j.clientserver INFO  Error while sending or receiving.
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/clientserver.py", line 503, in send_command
    self.socket.sendall(command.encode("utf-8"))
ConnectionResetError: [Errno 104] Connection reset by peer
py4j.clientserver INFO  Closing down clientserver connection
root       INFO  Exception while sending command.
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/clientserver.py", line 503, in send_command
    self.socket.sendall(command.encode("utf-8"))
ConnectionResetError: [Errno 104] Connection reset by peer

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/usr/local/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/clientserver.py", line 506, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending
py4j.clientserver INFO  Closing down clientserver connection

In [50]:
def get_sentiment(Text):
    analysis=TextBlob(Text)
    return analysis.sentiment.polarity

In [51]:
tweet['Sentiment']=tweet['Review'].apply(get_sentiment)

In [52]:
tweet.head()

,ID1,Date,User,Text,Review,Sentiment
0,1467810672,2009-04-06 22:19:49,scotthamilton,is upset that he can't update his Facebook by ...,upset cant update Facebook texting might cry r...,0.000
1,1467810917,2009-04-06 22:19:53,mattycus,@Kenichan I dived many times for the ball. Man...,Kenichan dived many times ball Managed save 50...,0.500
2,1467811184,2009-04-06 22:19:57,ElleCTF,my whole body feels itchy and like its on fire,whole body feels itchy like fire,0.200
3,1467811193,2009-04-06 22:19:57,Karoli,"@nationwideclass no, it's not behaving at all....",nationwideclass behaving im mad cant see,-0.625
4,1467811372,2009-04-06 22:20:00,joy_wolf,@Kwesidei not the whole crew,Kwesidei whole crew,0.200

In [53]:
tweet.tail()

,ID1,Date,User,Text,Review,Sentiment
1599994,2193601966,2009-06-16 08:40:49,AmandaMarie1028,Just woke up. Having no school is the best fee...,woke school best feeling ever,1.000
1599995,2193601969,2009-06-16 08:40:49,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...,TheWDBcom cool hear old Walt interviews â« ht...,0.225
1599996,2193601991,2009-06-16 08:40:49,bpbabe,Are you ready for your MoJo Makeover? Ask me f...,ready MoJo Makeover Ask details,0.200
1599997,2193602064,2009-06-16 08:40:49,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...,Happy 38th Birthday boo alll time Tupac Amaru ...,0.800
1599998,2193602129,2009-06-16 08:40:50,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...,happy charitytuesday theNSPCC SparksCharity Sp...,0.800

In [59]:
tweet.drop(['ID1', 'User', 'Text'], axis=1, inplace=True)

KeyError: "['ID1', 'User', 'Text'] not found in axis"

In [63]:
tweet['Rating'] = tweet['Sentiment'].apply(lambda x:'Positive' if x>0.3 
                                           else ('Negavtive'if x<-0.3 else 'Neutral'))

In [64]:
tweet.head()

,Date,Review,Sentiment,Rating
0,2009-04-06 22:19:49,upset cant update Facebook texting might cry r...,0.000,Neutral
1,2009-04-06 22:19:53,Kenichan dived many times ball Managed save 50...,0.500,Positive
2,2009-04-06 22:19:57,whole body feels itchy like fire,0.200,Neutral
3,2009-04-06 22:19:57,nationwideclass behaving im mad cant see,-0.625,Negavtive
4,2009-04-06 22:20:00,Kwesidei whole crew,0.200,Neutral

In [66]:
import seaborn as sns

In [1]:
sns.set_style('whitegrid')
sns.countplot(x='Rating', data=tweet, palette='summer')

NameError: name 'sns' is not defined